greeting: Hello from tcs poc application yaml

spring:
  zipkin:
    enabled: true
    sender.type: web
    base-url: http://localhost:9411
  sleuth:
    enabled: true
    sampler:
      probability: 1.0
